* {
    box-sizing: border-box;
  }
  .html{
      font-size: 200%;
  }
  body {
    margin: 0;
  }
  .navbar-items-c{
    display:inline-block;
  }
  .navbar{
    background-color:#222;
    color:#ddd;
    min-height:50px;
    width:100%;
  }
  .navbar-container{
    max-width:950px;
    margin:0 auto;
    width:95%;
  }
  .navbar-container::after{
    content:"";
    clear:both;
    display:block;
  }
  .navbar-brand{
    vertical-align:top;
    display:inline-block;
    padding:5px;
    min-height:50px;
    min-width:50px;
    color:inherit;
    text-decoration:none;
  }
  .navbar-menu{
    padding:10px 0;
    display:block;
    float:right;
    margin:0;
  }
  .navbar-menu-link{
    margin:0;
    color:inherit;
    text-decoration:none;
    display:inline-block;
    padding:10px 15px;
  }
  .navbar-burger{
    margin:10px 0;
    width:45px;
    padding:5px 10px;
    display:none;
    float:right;
    cursor:pointer;
  }
  .navbar-burger-line{
    padding:1px;
    background-color:white;
    margin:5px 0;
  }
  #ifq0i{
    padding:10px;
  }
  #i3p3w{
    padding:10px;
  }
  #iawj7{
    padding:10px;
  }
  @media fadeEffect{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  @media (max-width: 768px){
    .navbar-burger{
      display:block;
    }
    .navbar-items-c{
      display:none;
      width:100%;
    }
    .navbar-menu{
      width:100%;
    }
    .navbar-menu-link{
      display:block;
    }
  }
  